* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    body {
      font-family: Arial, sans-serif;
      background-color: #ffffff;
    }

    /* Estilo da navbar */
    .logo-custom {
      font-weight: bold;
      font-size: 2rem;
    }

    .logo-custom span:nth-child(1) {
      color: #004aad;
    }

    .logo-custom span:nth-child(2) {
      color: #f4c200;
    }

    .logo-custom span:nth-child(3) {
      color: #2c9b2c;
    }
        .logo-custom span:nth-child(4) {
      color: #004aad;
    }

    .logo-custom span:nth-child(5) {
      color: #f4c200;
    }

    .logo-custom span:nth-child(6) {
      color: #2c9b2c;
    }
        .logo-custom span:nth-child(7) {
      color: #004aad;
    }

    .logo-custom span:nth-child(8) {
      color: #f4c200;
    }

    .logo-custom span:nth-child(9) {
      color: #2c9b2c;
    }
        .logo-custom span:nth-child(10) {
      color: #004aad;
    }

    .logo-custom span:nth-child(11) {
      color: #f4c200;
    }

    .logo-custom span:nth-child(12) {
      color: #2c9b2c;
    }
    

    
    .btn-gov {
      background-color: #004aad;
      color: white;
      border-radius: 30px;
      padding: 6px 16px;
    }

    .btn-gov:hover {
      background-color: #00307e;
      color: white;
    }

    .container {
      max-width: 1200px;
      margin: 0 auto;
      padding: 20px;
    }

    .content {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      justify-content: center;
      gap: 30px;
    }

    .text-content {
      max-width: 600px;
    }

    .text-content h1 {
      font-size: 2.5em;
      color: #3c0891;
      margin-bottom: 20px;
      font-size: 2.5em;
      
    }

    .text-content p {
      font-size: 1.2em;
      color: #333;
    }

    .image-content img {
      max-width: 100%;
      height: auto;
    }

    .circulos {
      display: flex;
      justify-content: center;
      gap: 20px;
      flex-wrap: wrap;
      margin-top: 40px;
    }

    .circulo {
      width: 150px;
      height: 150px;
      background-color: #f4f4f4;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      text-align: center;
      padding: 10px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      transition: transform 0.3s ease;
    }

    .circulo:hover {
      transform: scale(1.05);
    }

    @media (max-width: 768px) {
      .text-content h1 {
        font-size: 2em;
      }

      .text-content p {
        font-size: 1em;
      }

      .circulo {
        width: 120px;
        height: 120px;
        .carrossel {
    display: none;
      }
    }